{
    "swagger": "2.0",
    "info": {
        "description": "An API for getting data about products available to Amazon Business customers. This includes information such as the product title, the merchant selling the product, and the current price.",
        "license": {
            "name": "Amazon Software License",
            "url": "https://aws.amazon.com/asl/"
        },
        "title": "Amazon Business API for Products",
        "version": "2020-08-26"
    },
    "externalDocs": {
        "description": "Learn more about Amazon Business",
        "url": "https://business.amazon.com"
    },
    "host": "api.business.amazon.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/products/2020-08-26/products": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "A list of keywords to use for finding products based on indexed data.",
                        "in": "query",
                        "name": "keywords",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The region where the customer wants to purchase the product.",
                        "enum": [
                            "DE",
                            "FR",
                            "UK",
                            "IT",
                            "ES",
                            "US",
                            "CA",
                            "MX",
                            "JP",
                            "AU"
                        ],
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "DE",
                                "description": "Germany"
                            },
                            {
                                "value": "FR",
                                "description": "France"
                            },
                            {
                                "value": "UK",
                                "description": "United Kingdom"
                            },
                            {
                                "value": "IT",
                                "description": "Italy"
                            },
                            {
                                "value": "ES",
                                "description": "Spain"
                            },
                            {
                                "value": "IN",
                                "description": "India"
                            },
                            {
                                "value": "US",
                                "description": "United States of America"
                            },
                            {
                                "value": "CA",
                                "description": "Canada"
                            },
                            {
                                "value": "MX",
                                "description": "Mexico"
                            },
                            {
                                "value": "JP",
                                "description": "Japan"
                            },
                            {
                                "value": "AU",
                                "description": "Australia"
                            }
                        ],
                        "in": "query",
                        "name": "productRegion",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "This field determines the region where to ship the product based on the value in the shippingPostalCode.",
                        "in": "query",
                        "name": "shippingRegion",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The locale of the request in the form of an IETF language tag. Each ProductRegion supports one or more locales. This value should comply with java.util.Locale.",
                        "pattern": "^[a-zA-Z_-]+$",
                        "in": "query",
                        "name": "locale",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The shipping postal or zip code for customer's request. This parameter doesn't hold geocode.",
                        "in": "query",
                        "name": "shippingPostalCode",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list of data facets to include in the response. Separate each facet with a comma.",
                        "in": "query",
                        "enum": [
                            "OFFERS",
                            "IMAGES"
                        ],
                        "name": "facets",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?facets=FOO,BAR"
                    },
                    {
                        "description": "The zero-based number of the page being requested. If not specified, a default value of 0 will be used. When passed, the value must be equal or greater than zero, and less than the number of pages returned in the response. The maximum number of pages that can be fetched is 13.",
                        "in": "query",
                        "name": "pageNumber",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "description": "The requested number of products per page (default 24). Max 24 without privilege.",
                        "in": "query",
                        "name": "pageSize",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "description": "A value that identifies the group within the business account that a customer belongs to. The customer can set this in Amazon Business account information. GroupTag is necessary only if the account associated with x-amz-user-email belongs to more than one group.",
                        "in": "query",
                        "name": "groupTag",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned result to this specified category. Categories can be found under refinements->categories->id of this API call's response. Sample categories: 'Electronics', 'Appliances', or 'Baby'",
                        "in": "query",
                        "name": "category",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned result to this specified subcategory ID. Subcategory IDs can be found under refinements->subcategories->id of this API call's response when a category or subcategory is specified. Note: there can be multiple levels of subcategories in a category. Sample subcategory IDs: '4997' or '4799'",
                        "in": "query",
                        "name": "subCategory",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to one of the following specified availability IDs: \n\n- InStockOnly \n- IncludeOutOfStock",
                        "in": "query",
                        "name": "availability",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The deliveryDay feature is used to refine the keyword search results. By default, the search returns results with all the available delivery dates. In the returned result refinement, there should be one 'Get It Today' ID, and one 'Get It Tomorrow' ID. If the customer sets the deliveryDay with 'Get It Today' ID, the results will return products that could arrive today or zero matching if no product could arrive today. If the customer sets the deliveryDay with 'Get It Tomorrow' ID, the results will return products that could arrive tomorrow or zero matching if no product could arrive tomorrow.",
                        "in": "query",
                        "name": "deliveryDay",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The eligibleForFreeShipping is used to refine the keyword search results. By default, the search should return results with both 'Free Shipping' and not 'Free Shipping by Amazon Business.' In the returned result refinement, there should be one eligibleForFreeShipping Id. It represents 'Free Shipping by Amazon Business.' If the customer sets the eligibleForFreeShipping as this ID, the result will only return products with 'Free Shipping by Amazon Business.'",
                        "in": "query",
                        "name": "eligibleForFreeShipping",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The prime eligible refinement is used to filter prime eligible products. By default, the search returns results with prime eligible and non-prime eligible products.",
                        "in": "query",
                        "name": "primeEligible",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned result to this specified Universal Product Code (UPC). UPC is printed on product packaging.",
                        "in": "query",
                        "name": "upc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to this specified ISBN (International Standard Book Number). ISBN is a 13-digit number that uniquely identifies a book.",
                        "in": "query",
                        "name": "isbn",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to this specified Stock Keeping Unit (SKU). SKU is a merchant-specific identifier.",
                        "in": "query",
                        "name": "sku",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to this specified EAN (European Article Number). EAN is a 13-digit product identifier.",
                        "in": "query",
                        "name": "ean",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to this specified part number. Part number is a unique number issued by manufacturers to identify individual products.",
                        "in": "query",
                        "name": "partNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "This field restricts the returned results to this specified OEM (Original Equipment Manufacturer) part number. OEM part number is an identifier that indicates the original manufacturer of the part of the product.",
                        "in": "query",
                        "name": "oemPartNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list of search refinements to refine keyword search for relevant results. Separate each refinement with a comma.",
                        "in": "query",
                        "name": "searchRefinements",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "brandtextbin#GE,brandtextbin#Sony,review-rating#2661618011"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list of filters to filter the results for a product by certain values in the response fields. Input the field name, followed by # and the filter value. Separate filters by commas. Use of filters may result in fewer products returned than expected. The filter is currently only implemented for isCustomQuoteEligible.",
                        "in": "query",
                        "name": "productFilters",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "isCustomQuoteEligible#true,bundleQuantity#10"
                    },
                    {
                        "description": "The email address of the customer requesting this resource.",
                        "in": "header",
                        "name": "x-amz-user-email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list specifying the product fields for inclusion in the response object. Excluding this query parameter returns response with all inclusions except upcValues, eanValues, modelNumber, and manufacturerName.",
                        "enum": [
                            "ALL",
                            "bookInformation",
                            "byLine",
                            "customerReviewsSummary",
                            "editorialReviews",
                            "features",
                            "format",
                            "mediaInformation",
                            "productDescription",
                            "productDetails",
                            "productOverview",
                            "productVariations",
                            "taxonomies",
                            "packageTypeNames",
                            "title",
                            "upcValues",
                            "eanValues",
                            "modelNumber",
                            "manufacturerName",
                            "bundleQuantity",
                            "isCustomQuoteEligible",
                            "badges",
                            "isBundledAsin",
                            "legalInformation"
                        ],
                        "in": "query",
                        "name": "inclusionsForProducts",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?inclusionsForProducts=FOO,BAR"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list specifying the offer fields for inclusion in the response object. Excluding this parameter results in response returning all inclusions.",
                        "enum": [
                            "ALL",
                            "availability",
                            "buyingGuidance",
                            "buyingGuidanceV2",
                            "buyingRestrictions",
                            "condition",
                            "fulfillmentType",
                            "merchant",
                            "merchantCertificates",
                            "price",
                            "productCondition",
                            "productConditionNote",
                            "quantityLimits",
                            "quantityPrice",
                            "taxExclusivePrice",
                            "deliveryInformation",
                            "listPrice",
                            "shippingOptions",
                            "quantityInStock",
                            "badges",
                            "fulfiller"
                        ],
                        "in": "query",
                        "name": "inclusionsForOffers",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?inclusionsForOffers=FOO,BAR"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search success",
                        "schema": {
                            "$ref": "#/definitions/SearchProductsResult"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "productRegion": {
                                            "value": "US"
                                        },
                                        "locale": {
                                            "value": "en_US"
                                        },
                                        "facets": {
                                            "value": [
                                                "OFFERS"
                                            ]
                                        },
                                        "keywords": {
                                            "value": "keyword"
                                        }
                                    }
                                },
                                "response": {
                                    "matchingProductCount": 4,
                                    "searchRefinements": [
                                        {
                                            "selectionType": null,
                                            "displayValue": "Department",
                                            "refinementValues": [
                                                {
                                                    "displayName": "Electronics",
                                                    "searchRefinementValue": "search-alias#electronics"
                                                },
                                                {
                                                    "displayName": "Automotive Parts & Accessories",
                                                    "searchRefinementValue": "search-alias#automotive"
                                                },
                                                {
                                                    "displayName": "Home & Kitchen",
                                                    "searchRefinementValue": "search-alias#garden"
                                                },
                                                {
                                                    "displayName": "Sports & Outdoors",
                                                    "searchRefinementValue": "search-alias#sporting"
                                                },
                                                {
                                                    "displayName": "Industrial & Scientific",
                                                    "searchRefinementValue": "search-alias#industrial"
                                                },
                                                {
                                                    "displayName": "Toys & Games",
                                                    "searchRefinementValue": "search-alias#toys-and-games"
                                                },
                                                {
                                                    "displayName": "Tools & Home Improvement",
                                                    "searchRefinementValue": "search-alias#tools"
                                                },
                                                {
                                                    "displayName": "Everything Else",
                                                    "searchRefinementValue": "search-alias#misc"
                                                },
                                                {
                                                    "displayName": "Office Products",
                                                    "searchRefinementValue": "search-alias#office-products"
                                                },
                                                {
                                                    "displayName": "Health, Household & Baby Care",
                                                    "searchRefinementValue": "search-alias#hpc"
                                                },
                                                {
                                                    "displayName": "Beauty & Personal Care",
                                                    "searchRefinementValue": "search-alias#beauty"
                                                },
                                                {
                                                    "displayName": "Cell Phones & Accessories",
                                                    "searchRefinementValue": "search-alias#mobile"
                                                },
                                                {
                                                    "displayName": "Baby",
                                                    "searchRefinementValue": "search-alias#baby-products"
                                                },
                                                {
                                                    "displayName": "Garden & Outdoor",
                                                    "searchRefinementValue": "search-alias#lawngarden"
                                                },
                                                {
                                                    "displayName": "Arts, Crafts & Sewing",
                                                    "searchRefinementValue": "search-alias#arts-crafts"
                                                },
                                                {
                                                    "displayName": "Pet Supplies",
                                                    "searchRefinementValue": "search-alias#pets"
                                                },
                                                {
                                                    "displayName": "Grocery & Gourmet Food",
                                                    "searchRefinementValue": "search-alias#grocery"
                                                },
                                                {
                                                    "displayName": "Video Games",
                                                    "searchRefinementValue": "search-alias#videogames"
                                                },
                                                {
                                                    "displayName": "Appliances",
                                                    "searchRefinementValue": "search-alias#appliances"
                                                },
                                                {
                                                    "displayName": "Handmade",
                                                    "searchRefinementValue": "search-alias#handmade"
                                                },
                                                {
                                                    "displayName": "Musical Instruments",
                                                    "searchRefinementValue": "search-alias#mi"
                                                },
                                                {
                                                    "displayName": "Books",
                                                    "searchRefinementValue": "search-alias#stripbooks"
                                                },
                                                {
                                                    "displayName": "Gift Cards",
                                                    "searchRefinementValue": "search-alias#gift-cards"
                                                },
                                                {
                                                    "displayName": "Kindle Store",
                                                    "searchRefinementValue": "search-alias#digital-text"
                                                },
                                                {
                                                    "displayName": "Apps & Games",
                                                    "searchRefinementValue": "search-alias#mobile-apps"
                                                },
                                                {
                                                    "displayName": "Collectibles & Fine Art",
                                                    "searchRefinementValue": "search-alias#collectibles"
                                                },
                                                {
                                                    "displayName": "Home & Business Services",
                                                    "searchRefinementValue": "search-alias#local-services"
                                                }
                                            ]
                                        },
                                        {
                                            "selectionType": "MultiSelectOR",
                                            "displayValue": "Company policies",
                                            "refinementValues": []
                                        },
                                        {
                                            "selectionType": "InsteadSelect",
                                            "displayValue": "Delivery Day",
                                            "refinementValues": [
                                                {
                                                    "displayName": "1",
                                                    "searchRefinementValue": "delivery_day#1"
                                                }
                                            ]
                                        },
                                        {
                                            "selectionType": null,
                                            "displayValue": "Availability",
                                            "refinementValues": [
                                                {
                                                    "displayName": "0",
                                                    "searchRefinementValue": "availability#0"
                                                },
                                                {
                                                    "displayName": "1",
                                                    "searchRefinementValue": "availability#1"
                                                },
                                                {
                                                    "displayName": "2",
                                                    "searchRefinementValue": "availability#2"
                                                }
                                            ]
                                        },
                                        {
                                            "selectionType": "MultiSelectOR",
                                            "displayValue": "Prime Campus",
                                            "refinementValues": []
                                        },
                                        {
                                            "selectionType": "MultiSelectOR",
                                            "displayValue": "Prime Free Same-Day",
                                            "refinementValues": []
                                        },
                                        {
                                            "selectionType": "MultiSelectOR",
                                            "displayValue": "Prime One-Day",
                                            "refinementValues": []
                                        },
                                        {
                                            "selectionType": null,
                                            "displayValue": "Prime Delivery",
                                            "refinementValues": []
                                        },
                                        {
                                            "selectionType": null,
                                            "displayValue": "dds_huffman",
                                            "refinementValues": []
                                        }
                                    ],
                                    "refinements": {
                                        "categories": [
                                            {
                                                "displayName": "Electronics",
                                                "id": "ELECTRONICS"
                                            },
                                            {
                                                "displayName": "Automotive Parts & Accessories",
                                                "id": "AUTOMOTIVE"
                                            },
                                            {
                                                "displayName": "Home & Kitchen",
                                                "id": "HOME_AND_KITCHEN"
                                            },
                                            {
                                                "displayName": "Sports & Outdoors",
                                                "id": "SPORTS_AND_OUTDOORS"
                                            },
                                            {
                                                "displayName": "Industrial & Scientific",
                                                "id": "INDUSTRIAL"
                                            },
                                            {
                                                "displayName": "Toys & Games",
                                                "id": "TOYS_AND_GAMES"
                                            },
                                            {
                                                "displayName": "Tools & Home Improvement",
                                                "id": "TOOLS_AND_HOME_IMPROVEMENT"
                                            },
                                            {
                                                "displayName": "Everything Else",
                                                "id": "EVERYTHING_ELSE"
                                            },
                                            {
                                                "displayName": "Office Products",
                                                "id": "OFFICE_PRODUCTS"
                                            },
                                            {
                                                "displayName": "Health, Household & Baby Care",
                                                "id": "HEALTH_PERSONAL_CARE"
                                            },
                                            {
                                                "displayName": "Beauty & Personal Care",
                                                "id": "BEAUTY"
                                            },
                                            {
                                                "displayName": "Cell Phones & Accessories",
                                                "id": "MOBILE_AND_ACCESSORIES"
                                            },
                                            {
                                                "displayName": "Baby",
                                                "id": "BABY"
                                            },
                                            {
                                                "displayName": "Garden & Outdoor",
                                                "id": "GARDEN_AND_OUTDOOR"
                                            },
                                            {
                                                "displayName": "Arts, Crafts & Sewing",
                                                "id": "ARTS_AND_CRAFTS"
                                            },
                                            {
                                                "displayName": "Pet Supplies",
                                                "id": "PET_SUPPLIES"
                                            },
                                            {
                                                "displayName": "Grocery & Gourmet Food",
                                                "id": "GROCERY_AND_GOURMET_FOOD"
                                            },
                                            {
                                                "displayName": "Video Games",
                                                "id": "VIDEO_GAMES"
                                            },
                                            {
                                                "displayName": "Appliances",
                                                "id": "APPLIANCES"
                                            },
                                            {
                                                "displayName": "Handmade",
                                                "id": "HANDMADE"
                                            },
                                            {
                                                "displayName": "Musical Instruments",
                                                "id": "MUSICAL_INSTRUMENTS"
                                            },
                                            {
                                                "displayName": "Books",
                                                "id": "BOOKS"
                                            },
                                            {
                                                "displayName": "Gift Cards",
                                                "id": "GIFT_CARDS"
                                            },
                                            {
                                                "displayName": "Kindle Store",
                                                "id": "KINDLE_STORE"
                                            },
                                            {
                                                "displayName": "Apps & Games",
                                                "id": "MOBILE_APPS"
                                            },
                                            {
                                                "displayName": "Collectibles & Fine Art",
                                                "id": "COLLECTIBLES"
                                            },
                                            {
                                                "displayName": "Home & Business Services",
                                                "id": "LOCAL_SERVICES"
                                            }
                                        ],
                                        "subCategories": [],
                                        "availabilityOptions": [
                                            {
                                                "displayName": "0",
                                                "id": "0"
                                            },
                                            {
                                                "displayName": "1",
                                                "id": "1"
                                            },
                                            {
                                                "displayName": "2",
                                                "id": "2"
                                            }
                                        ],
                                        "deliveryDayOptions": [
                                            {
                                                "displayName": "1",
                                                "id": "1"
                                            }
                                        ],
                                        "eligibleForFreeShippingOptions": [],
                                        "primeEligible": []
                                    },
                                    "numberOfPages": 1,
                                    "products": [
                                        {
                                            "asin": "0199393214",
                                            "asinType": "STANDARD",
                                            "signedProductId": "amzn1.business.asin.LCYX26RZZ5DEIUZAEEWWI2LRMFZG423ZORUGOZLEG5ZGMY3BONQ7DTTPFW2DX2PWNIPNCL3MKH2RQUEWHZOWTBSOGZUCUGMZUNEN7CUISPOEBIAP54U56K6I2XTVFLTXI5WSECCPTUR3MK2XMPS7PFO7GQS24X5RFM6DQCOYIYXANRRB6YDA",
                                            "legalInformation": [
                                                {
                                                    "title": "Warning: Professional Medical Equipment",
                                                    "message": "This page contains medical device information only allowed to be purchased by medical professionals.",
                                                    "type": "MEDICAL"
                                                }
                                            ],
                                            "includedDataTypes": {
                                                "OFFERS": [
                                                    {}
                                                ]
                                            },
                                            "features": [],
                                            "editorialReviews": [],
                                            "taxonomies": [
                                                {
                                                    "taxonomyCode": "55101500",
                                                    "title": "Printed publications",
                                                    "type": "UNSPSC"
                                                }
                                            ],
                                            "title": "Keywords: A Vocabulary of Culture and Society",
                                            "url": "https://www.amazon.com/dp/0199393214?ref_=ab_psdp",
                                            "format": null,
                                            "bookInformation": {
                                                "isbn": {
                                                    "isbn10": null,
                                                    "isbn13": null
                                                },
                                                "publicationDate": null,
                                                "publishedLanguage": null
                                            },
                                            "byLine": [],
                                            "mediaInformation": {
                                                "editions": [],
                                                "mediaFormats": []
                                            },
                                            "productOverview": {},
                                            "productDetails": {},
                                            "productVariations": {
                                                "dimensions": [],
                                                "variations": []
                                            },
                                            "customerReviewsSummary": {
                                                "numberOfRatings": null,
                                                "starRating": null
                                            },
                                            "productDescription": "First published in 1976, Raymond Williams' highly acclaimed Keywords: A Vocabulary of Culture and Society is a collection of lively essays on words that are critical to understanding the modern world. In these essays, Williams, a renowned cultural critic, demonstrates how these key words take on new meanings and how these changes reflect the political bent and values of our past and current society. He chose words both essential and intangible--words like nature, underprivileged, industry, liberal, violence, to name a few--and, by tracing their etymology and evolution, grounds them in a wider political and cultural framework. The result is an illuminating account of the central vocabulary of ideological debate in English in the modern period. \n\nThis edition features a new original foreword by Colin MacCabe, Distinguished Professor of English and Literature, University of Pittsburgh, that reflects on the significance of Williams' life and work. Keywords remains as relevant today as it was over thirty years ago, offering a provocative study of our language and an insightful look at the society in which we live.",
                                            "upcValues": [],
                                            "eanValues": [],
                                            "badges": [
                                                {
                                                    "name": null,
                                                    "fragment": {
                                                        "title": "#1 Best Seller",
                                                        "message": null,
                                                        "link": {
                                                            "text": "Office Products",
                                                            "url": "https://www.amazon.com/gp/bestsellers/office-products"
                                                        },
                                                        "type": "BESTSELLER_BADGE",
                                                        "fragments": null
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "asin": "B0BVLCJHX8",
                                            "asinType": "STANDARD",
                                            "legalInformation": [],
                                            "signedProductId": "amzn1.business.asin.A7MUCIMZWX4FJWCTPMAWI2LRMFZG423ZORUGOZLEG5ZGMY3BONQRAEIX32JOPPN7ZCMS2BW7ZHXPXV5ZYEN6HIS6GOCKSGFHZ7QJMDLU7BV6M6LWC5MOG7O7V6DFDPFIEEKGCVFWY6DQIBJZVCGZOADRVVMOMUMS37QKIQRD6WVJYCR7BQVQ",
                                            "includedDataTypes": {
                                                "OFFERS": [
                                                    {}
                                                ]
                                            },
                                            "features": [
                                                "[2023 Upgraded Game Console Adapter] AIMVICE adopts the most advanced keyboard and mouse adapter technology. This keyboard and mouse adapter supports shortcut keys to customize key mapping and adjust sensitivity, and supports one-to-many key mapping. Ideal for game consoles like FPS, TPS and RTS, etc.",
                                                "[Plug and Play] The product is functionally compatible and supports most keyboards, mice, third-party wired games. No need to download additional software. There is a keyboard mark on the converter, which corresponds to the connection. The converter needs to be connected to the game console and the controller at the same time to work.",
                                                "[Multi-Platform Compatibility] AIMVICE keyboard and mouse adapter is compatible with Xbox360, Xbox One, Xbox Series X/S, PlayStation 3, PlayStation 4, Nintendo Switch and other platforms. If you are buying BLADER to play on PS5, we do not recommend buying it.",
                                                "[Game Experience Like PC] Keyboard mouse adapter allows you to experience the perspective of network gaming mouse and keyboard control, low latency, easy to use, fast and flexible connection to wired game console adapter. The appearance of the product is novel and beautiful, and the size is convenient to place.",
                                                "[Must Read Before Use] 1. Set the game sensitivity to the highest for best game control. 2. The mouse that needs to install the driver to use it is not supported. 3. New packaging changed the brand name to AIMZENIX 4. We provide a 365-day support, repair or replacement warranty, if you have any questions about the item, please feel free to contact us."
                                            ],
                                            "editorialReviews": [],
                                            "taxonomies": [
                                                {
                                                    "taxonomyCode": "43210000",
                                                    "title": "Computer Equipment and Accessories",
                                                    "type": "UNSPSC"
                                                }
                                            ],
                                            "title": "Keyword and Mouse Adapter for Nintendo Switch/Xbox One/PS4/PS3, AIMVICE Keyboard Adapter & Xbox Keyboard Adapter, Perfect for Games Consoles for FPS, TPS and RTS [2023 Upgrade Version]",
                                            "url": "https://www.amazon.com/dp/B0BVLCJHX8?ref_=ab_psdp",
                                            "format": null,
                                            "bookInformation": {
                                                "isbn": {
                                                    "isbn10": null,
                                                    "isbn13": null
                                                },
                                                "publicationDate": null,
                                                "publishedLanguage": null
                                            },
                                            "byLine": [],
                                            "mediaInformation": {
                                                "editions": [],
                                                "mediaFormats": []
                                            },
                                            "productOverview": {
                                                "": "",
                                                "Date First Available": "February 13, 2023",
                                                "Nominal Power": "",
                                                "Compatible Devices": "PlayStation4, PlayStation3, XBOX ONE, XBOX Series S/X, Nintendo Switch, PC",
                                                "Unit Count": "1.0 Count",
                                                "Specific Uses For Product": "Video Game Console",
                                                "ASIN": "B0BVLCJHX8",
                                                "Product Dimensions": "4.53 x 4.53 x 0.94 inches; 2.4 Ounces",
                                                "Item Package Quantity": "1",
                                                "Warranty Type": "Limited",
                                                "Number of Ports": "4",
                                                "Manufacturer": "AIMVICETEK",
                                                "Connector Type": "",
                                                "Power Plug Type": "No Plug",
                                                "Cable Length": "",
                                                "UNSPSC Code": "",
                                                "Number of Items": "",
                                                "Finish Type": "",
                                                "Color": "Black",
                                                "Item model number": "BLADER",
                                                "Current Rating": "",
                                                "Input Voltage": "4 Volts",
                                                "Brand": "AIMVICETEK",
                                                "null": "",
                                                "Item Dimensions LxWxH": "4.53 x 4.53 x 0.94 inches",
                                                "Country of Origin": "",
                                                "Item Weight": "0.07 Kilograms"
                                            },
                                            "productDetails": {},
                                            "productVariations": {
                                                "dimensions": [],
                                                "variations": []
                                            },
                                            "customerReviewsSummary": {
                                                "numberOfRatings": null,
                                                "starRating": null
                                            },
                                            "productDescription": "1. Are you still use the game joystick play the console games, and you are always missing the beat while you operate the game joystick without accurate. 2. Now, the BLADER Keyboard & Mouse Converter allows you use the keyboard & mouse play console games with high accurate and rapid fire trigger. 3. It compatible with XBOX S/X/XBOX Series X/S, PS4, Switch Platform perfectly. 4. Plug and play, no driver need. 5. If customers have any questions about the button settings can send an email to AIMVICETEK, we will solve your problem as soon as possible, thank you",
                                            "upcValues": [],
                                            "eanValues": [],
                                            "badges": []
                                        },
                                        {
                                            "asin": "B0CNSBTCKV",
                                            "asinType": "STANDARD",
                                            "signedProductId": "amzn1.business.asin.VMFBTHYL445CMZYZ7SDGI2LRMFZG423ZORUGOZLEG5ZGMY3BONQ6ZDOKT2LTK5NVG3BQAQGLAXTGAAX2DGLNK7JERVIB7VRTVYNNT2HODVK2TTSEAILTEQM3NYH3YIVLY2GHJORSC5Y5WQ6KWCMEXF2WC44OGVOAARDSKTOPX3GMUZYIUOTA",
                                            "includedDataTypes": {
                                                "OFFERS": [
                                                    {}
                                                ]
                                            },
                                            "features": [
                                                "SHIELD, INDESTRUCTIBLE, LIFELINK, TRAMPLE, REACH, MENACE",
                                                "DOUBLE STRIKE, FIRST STRIKE, DEATHTOUCH, FLYING, HEXPROOF, VIGILANCE",
                                                "Keyword Counters Designed For Magic: The Gathering",
                                                "Large and Easy to See!"
                                            ],
                                            "editorialReviews": [],
                                            "taxonomies": [
                                                {
                                                    "taxonomyCode": "49100000",
                                                    "title": "Collectibles and awards",
                                                    "type": "UNSPSC"
                                                }
                                            ],
                                            "title": "10x Deluxe 12 Sided Large Keyword & Shield Counters Compatible with Magic: The Gathering MTG CCG",
                                            "url": "https://www.amazon.com/dp/B0CNSBTCKV?ref_=ab_psdp",
                                            "format": null,
                                            "bookInformation": {
                                                "isbn": {
                                                    "isbn10": null,
                                                    "isbn13": null
                                                },
                                                "publicationDate": null,
                                                "publishedLanguage": null
                                            },
                                            "byLine": [],
                                            "mediaInformation": {
                                                "editions": [],
                                                "mediaFormats": []
                                            },
                                            "productOverview": {
                                                "": "",
                                                "Team Name": "",
                                                "Grade Rating": "",
                                                "Unit Count": "",
                                                "Size": "",
                                                "Included Components": "",
                                                "ASIN": "B0CNSBTCKV",
                                                "Sub Brand": "",
                                                "Product Dimensions": "",
                                                "Athlete": "",
                                                "Sport": "",
                                                "Manufacturer": "Rook Robot",
                                                "UNSPSC Code": "",
                                                "Manufacturer recommended age": "16 years and up",
                                                "League": "",
                                                "Is Autographed": "",
                                                "Package Dimensions": "8 x 6 x 1 inches; 8 Ounces",
                                                "Parallel Type": "",
                                                "Color": "",
                                                "Material": "",
                                                "Brand": "Rook Robot",
                                                "Authenticity By": "",
                                                "null": "",
                                                "Year": "",
                                                "Graded By": "",
                                                "Theme": "",
                                                "Age Range (Description)": "",
                                                "Item Weight": "8 ounces",
                                                "Country of Origin": ""
                                            },
                                            "productDetails": {
                                                "": {
                                                    "Manufacturer recommended age:": "16 years and up"
                                                }
                                            },
                                            "productVariations": {
                                                "dimensions": [],
                                                "variations": []
                                            },
                                            "customerReviewsSummary": {
                                                "numberOfRatings": null,
                                                "starRating": null
                                            },
                                            "productDescription": "10 Deluxe 12 Sided Large Keyword Counters. Keyword counters were first introduced in the Magic: The Gathering Set of Ikoria: Lair of Behemoths. \n\nThe keywords listed on the 12 dice sides are:\n\n LIFELINK\n TRAMPLE\n REACH\n MENACE\n FIRST STRIKE\n DOUBLE STRIKE\n DEATHTOUCH\n FLYING\n HEXPROOF\n VIGILANCE\n INDESTRUCTIBLE\n SHIELD\n\n Thanks for looking! I also made the original +1/+1 Counters and Planeswalker Loyalty Counters, check out my other items if you're interested in those! \n\nThese are 25mm dice, they are 22.5mm from face to face.",
                                            "upcValues": [],
                                            "eanValues": [],
                                            "badges": []
                                        },
                                        {
                                            "asin": "B0CDWFCSDT",
                                            "asinType": "STANDARD",
                                            "signedProductId": "amzn1.business.asin.ANUMOBRL3UCYKXNSGV7GI2LRMFZG423ZORUGOZLEG5ZGMY3BONQTIZXF5UHJRCQTF3GJYKP3KDLW6QE5KACR3FYENIUNGACYMMELAH5QK7Q3TJ4RCKZWRINVYYJYVXG5GIW5CSNZSNRIBY4YO4YCDODIP5674GDSAZGEQCVJCQMOFJMP7K3A",
                                            "legalInformation": [],
                                            "includedDataTypes": {
                                                "OFFERS": [
                                                    {}
                                                ]
                                            },
                                            "features": [
                                                "What's in the box: Compatible Replacement for HP 210X Toner Cartridge 4 Pack (1 x W2100X High Yield black, 1 x W2101X Cyan, 1 x W2102X Yellow , 1 x W2103X Magenta)and 1 x User's manual",
                                                "High Page Yield: Up to 7,500 pages per black 210X toner , 5,500 pages for Color Toner Cartridges (W2101X,W2102X,W2103X) at 5% coverage",
                                                "Compatible Printer: Compatible for hp Color Pro MFP 4301fdw 4301fdn, Color Pro 4201dw 4201dn printer",
                                                "Tips: 210X toner cartridges adapt latest upgraded chip that can be quickly recognized by the printer.",
                                                "All 210X toner cartridge are recycled from empty Original cartridges which only used once, cleaned, adhere to the concept of environmental protection and energy saving, Delivers Sharp Texts, Crisp Images and Stable Compatibility, No Fading, No powder leakage, No Streak."
                                            ],
                                            "editorialReviews": [],
                                            "taxonomies": [
                                                {
                                                    "taxonomyCode": "44103103",
                                                    "title": "Printer or facsimile toner",
                                                    "type": "UNSPSC"
                                                }
                                            ],
                                            "title": "210X 210A Toner Cartridges Replacement for HP Color MFP 4301fdw 4301fdn Pro 4201dw 4201dn Series Printer Toner (Black Cyan Yellow Magenta 4 Pack)",
                                            "url": "https://www.amazon.com/dp/B0CDWFCSDT?ref_=ab_psdp",
                                            "format": null,
                                            "bookInformation": {
                                                "isbn": {
                                                    "isbn10": null,
                                                    "isbn13": null
                                                },
                                                "publicationDate": null,
                                                "publishedLanguage": null
                                            },
                                            "byLine": [],
                                            "mediaInformation": {
                                                "editions": [],
                                                "mediaFormats": []
                                            },
                                            "productOverview": {
                                                "": "",
                                                "Date First Available": "August 7, 2023",
                                                "Compatible Devices": "",
                                                "Package Dimensions": "12.5 x 7.5 x 7 inches; 6.7 Pounds",
                                                "Included Components": "Toner Cartridge",
                                                "Dual-sided printing": "",
                                                "Controller Type": "",
                                                "Color": "210X toner",
                                                "ASIN": "B0CDWFCSDT",
                                                "Duplex": "",
                                                "Brand": "OFFICE-COLOR",
                                                "null": "",
                                                "Manufacturer": "OFFICE-COLOR",
                                                "UNSPSC Code": "",
                                                "Country of Origin": "",
                                                "Page Yield": "7500",
                                                "Item Weight": "6.7 Pounds",
                                                "Special Feature": "High Yield"
                                            },
                                            "productDetails": {},
                                            "productVariations": {
                                                "dimensions": [],
                                                "variations": []
                                            },
                                            "customerReviewsSummary": {
                                                "numberOfRatings": null,
                                                "starRating": null
                                            },
                                            "productDescription": null,
                                            "upcValues": [],
                                            "eanValues": [],
                                            "badges": []
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "The service was unable to process the request. Reasons for the error are described in an error response object.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "productRegion": {
                                            "value": "US"
                                        },
                                        "keywords": {
                                            "value": "pen"
                                        },
                                        "facets": {
                                            "value": [
                                                "OFFERS",
                                                "IMAGES"
                                            ]
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "INVALID_REQUEST_PARAMETER",
                                            "message": "Missing required request parameters: [locale]"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "401": {
                        "description": "The request's authorization header isn't formatted correctly or doesn't contain a valid authorization input.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified doesn't exist.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    }
                },
                "tags": [
                    "search"
                ],
                "description": "Search for a list of products by querying on their attributes and indexed fields.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst | \n| ---- | ---- |\n| .5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation. The preceding table indicates the default rate and burst values for this operation. For questions about your usage plan, reach out to your Amazon Business technical contact.",
                "operationId": "searchProductsRequest",
                "summary": "Search for a list products by keyword, and by other additional filter criteria."
            }
        },
        "/products/2020-08-26/products/{productId}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "The Amazon Standard Item Identifier (ASIN) for the product.",
                        "in": "path",
                        "name": "productId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The region where the customer wants to purchase the product.",
                        "enum": [
                            "DE",
                            "FR",
                            "UK",
                            "IT",
                            "ES",
                            "US",
                            "CA",
                            "MX",
                            "JP",
                            "AU"
                        ],
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "DE",
                                "description": "Germany"
                            },
                            {
                                "value": "FR",
                                "description": "France"
                            },
                            {
                                "value": "UK",
                                "description": "United Kingdom"
                            },
                            {
                                "value": "IT",
                                "description": "Italy"
                            },
                            {
                                "value": "ES",
                                "description": "Spain"
                            },
                            {
                                "value": "IN",
                                "description": "India"
                            },
                            {
                                "value": "US",
                                "description": "United States of America"
                            },
                            {
                                "value": "CA",
                                "description": "Canada"
                            },
                            {
                                "value": "MX",
                                "description": "Mexico"
                            },
                            {
                                "value": "JP",
                                "description": "Japan"
                            },
                            {
                                "value": "AU",
                                "description": "Australia"
                            }
                        ],
                        "in": "query",
                        "name": "productRegion",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "This field determines the region where to ship the product based on the value in the shippingPostalCode.",
                        "in": "query",
                        "name": "shippingRegion",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The locale of the request, in the form of an IETF language tag. Each ProductRegion supports one or more locales. This value should comply with java.util.Locale.",
                        "pattern": "^[a-zA-Z_-]+$",
                        "in": "query",
                        "name": "locale",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "The shipping postal or zip code for the customer's request. This parameter doesn't support geocode.",
                        "in": "query",
                        "name": "shippingPostalCode",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "The number of units the customer intends to purchase. This helps Amazon Business determine quantity-based discounts if an eligible offer is present. Defaults to 1.",
                        "in": "query",
                        "name": "quantity",
                        "required": false,
                        "type": "integer",
                        "default": 1
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list of data facets to include in the response. Separate each facet with a comma.",
                        "in": "query",
                        "enum": [
                            "OFFERS",
                            "IMAGES"
                        ],
                        "name": "facets",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?facets=FOO,BAR"
                    },
                    {
                        "description": "The email address of the customer requesting this resource.",
                        "in": "header",
                        "name": "x-amz-user-email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list specifying the product fields for inclusion in the response object. Excluding this query parameter returns response with all inclusions except upcValues, eanValues, modelNumber, and manufacturerName.",
                        "enum": [
                            "ALL",
                            "bookInformation",
                            "byLine",
                            "customerReviewsSummary",
                            "editorialReviews",
                            "features",
                            "format",
                            "mediaInformation",
                            "productDescription",
                            "productDetails",
                            "productOverview",
                            "productVariations",
                            "taxonomies",
                            "packageTypeNames",
                            "title",
                            "upcValues",
                            "eanValues",
                            "modelNumber",
                            "manufacturerName",
                            "bundleQuantity",
                            "badges",
                            "isBundledAsin",
                            "legalInformation"
                        ],
                        "in": "query",
                        "name": "inclusionsForProducts",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?inclusionsForProducts=FOO,BAR"
                    },
                    {
                        "collectionFormat": "csv",
                        "description": "A list specifying the offer fields for inclusion in the response object. Excluding this query parameter results in the response including all inclusions.",
                        "enum": [
                            "ALL",
                            "availability",
                            "buyingGuidance",
                            "buyingGuidanceV2",
                            "buyingRestrictions",
                            "condition",
                            "fulfillmentType",
                            "merchant",
                            "merchantCertificates",
                            "price",
                            "productCondition",
                            "productConditionNote",
                            "quantityLimits",
                            "quantityPrice",
                            "taxExclusivePrice",
                            "deliveryInformation",
                            "listPrice",
                            "shippingOptions",
                            "quantityInStock",
                            "badges",
                            "fulfiller"
                        ],
                        "in": "query",
                        "name": "inclusionsForOffers",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "x-example": "/path?inclusionsForOffers=FOO,BAR"
                    },
                    {
                        "description": "A value that identifies the group within the business account that a customer belongs to. The customer can set this in Amazon Business account information. GroupTag is necessary only if the customer account belongs to more than one group.",
                        "in": "query",
                        "name": "groupTag",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product successfully retrieved.",
                        "schema": {
                            "$ref": "#/definitions/ProductsResult"
                        },
                        "x-amzn-RateLimit-Limit": {
                            "description": "The rate limit (requests per second) for this operation.",
                            "type": "string"
                        },
                        "x-amzn-requestid": {
                            "description": "A unique request reference identifier.",
                            "type": "string"
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "productId": {
                                            "value": "B007VC9DKI"
                                        },
                                        "productRegion": {
                                            "value": "US"
                                        },
                                        "locale": {
                                            "value": "es_US"
                                        },
                                        "facets": {
                                            "value": [
                                                "OFFERS"
                                            ]
                                        },
                                        "shippingPostalCode": {
                                            "value": "99999"
                                        }
                                    }
                                },
                                "response": {
                                    "asin": "B007VC9DKI",
                                    "asinType": "STANDARD",
                                    "signedProductId": "amzn1.business.asin.KKWVAZ4AV7NVQBLCPNUGI2LRMFZG423ZORUGOZLEG5ZGMY3BONQUOL5X5WUIKF5XKBXIUSPMM7CGIVCAMA4LPZVRH2DRSHLUZZLGP27FDTAOST3HBGTLAIGD5PTKLREQHVNV3VJV6D72UQT6ZNDMBPPAMRBKYH3SMJACMU6LOFHZFN6Y5BLA",
                                    "legalInformation": [
                                        {
                                            "title": "Warning: Professional Medical Equipment",
                                            "message": "This page contains medical device information only allowed to be purchased by medical professionals.",
                                            "type": "MEDICAL"
                                        }
                                    ],
                                    "includedDataTypes": {
                                        "OFFERS": [
                                            {}
                                        ]
                                    },
                                    "features": [
                                        "Incluye un (1) 1.75 onzas. Gold Bond - Barra de defensa de fricción con aloe",
                                        "Gold Bond Friction Defense Stick reduce la fricción y reconforta la piel",
                                        "Esta barra de fácil aplicación reduce la fricción mientras hidrata y calma la piel",
                                        "Gold Bond Friction Defense Stick no es grasoso, sin perfume y suave para la piel sensible",
                                        "Este palo fácil de usar se puede aplicar libremente a las zonas afectadas según sea necesario para la defensa por fricción",
                                        "Crea una cuenta TerraCycle y comienza a reciclar tu embalaje Gold Bond vacío"
                                    ],
                                    "editorialReviews": [],
                                    "taxonomies": [
                                        {
                                            "taxonomyCode": "53131600",
                                            "title": "Baño y cuerpo",
                                            "type": "UNSPSC"
                                        }
                                    ],
                                    "title": "Loción para defensa de fricción Gold Bond, 1.75 onzas, 775387, 1, 1",
                                    "url": "https://www.amazon.com/dp/B007VC9DKI?ref_=ab_psdp",
                                    "format": null,
                                    "bookInformation": {
                                        "isbn": {
                                            "isbn10": null,
                                            "isbn13": null
                                        },
                                        "publicationDate": null,
                                        "publishedLanguage": null
                                    },
                                    "byLine": [],
                                    "mediaInformation": {
                                        "editions": [],
                                        "mediaFormats": []
                                    },
                                    "productOverview": {
                                        "": "",
                                        "Instrucciones": "Aplicar generosamente tan a menudo como sea necesario para reducir la fricción y calmar la piel.",
                                        "Rango de edad (descripción)": "Adultos",
                                        "Ingredientes activos.": "Triglicérido caprílico/cáprico, tribehenina, ésteres cetílicos, alcohol estearílico, polietileno, óxido de zinc, sílice, etilhexilglicerina, extracto de hoja de aloe barbadensis, miristato de isopropilo, bisabolol, acetato de tocoferilo, palmitato de isopropilo, extracto de raíz de Zingiber Officinale (jengibre)",
                                        "Peso del artículo": "",
                                        "ASIN": "B007VC9DKI",
                                        "Producto en amazon.com desde": "Abril 18, 2012",
                                        "Recuento de unidades": "1 Count",
                                        "Descatalogado por el fabricante": "No",
                                        "Usos Recomendados Para Producto": "Calmante",
                                        "Tono de piel": "Piel sensible",
                                        "País de origen": "",
                                        "Usado para": "Todo el Cuerpo",
                                        "Característica del material": "Fragrance Free",
                                        "Nivel de resistencia al agua": "",
                                        "Código UNSPSC": "",
                                        "Tipo de piel": "Áspero, Sensible",
                                        "Fragancia": "Sin fragancia",
                                        "Dimensiones del artículo LxWxH": "2,25 x 1,25 x 4,5 pulgadas",
                                        "Factor de protección solar": "",
                                        "Género objetivo": "Unisex",
                                        "Fabricante": "Gold Bond",
                                        "Material libre de": "Sin fragancia",
                                        "Dimensiones del producto": "2,25 x 1,25 x 4,5 pulgadas; 1,76 Onzas",
                                        "País/región de origen": "",
                                        "Forma del producto": "Stick",
                                        "Volumen del artículo": "1,75 Onzas de líquido",
                                        "Marca": "Gold Bond",
                                        "Ingredientes": "Triglicérido caprílico/cáprico, tribehenina, ésteres cetílicos, alcohol estearílico, polietileno, óxido de zinc, sílice, etilhexilglicerina, extracto de hoja de aloe barbadensis, miristato de isopropilo, bisabolol, acetato de tocoferilo, palmitato de isopropilo, extracto de raíz de Zingiber Officinale (jengibre)",
                                        "Beneficios del producto": "Hidratante, calmante,",
                                        "Número de modelo del producto": "775387",
                                        "Número de artículos": "1"
                                    },
                                    "productDetails": {},
                                    "productVariations": {
                                        "dimensions": [],
                                        "variations": []
                                    },
                                    "customerReviewsSummary": {
                                        "numberOfRatings": null,
                                        "starRating": null
                                    },
                                    "productDescription": "La fricción de la piel puede ser toda una aflicción. Pero no con el palo de defensa de fricción Gold Bond Cuando generas fricción, las cosas se calientan, ¡especialmente cuando se trata de tu piel! Gold Bond Friction Defense es la fórmula calmante que reduce la fricción mientras hidrata tu piel áspera. No tiene perfume y es perfecto para la prevención de fricción diaria. Diseñado para parecerse a un desodorante en barra, es fácil aplicar esta solución calmante cuando la necesites. Mantén una en tu bolsa de gimnasio o en casa para calmar la piel áspera causada por la fricción cuando y donde más lo necesites.",
                                    "upcValues": [],
                                    "eanValues": [],
                                    "badges": [
                                        {
                                            "name": null,
                                            "fragment": {
                                                "title": "#1 Best Seller",
                                                "message": null,
                                                "link": {
                                                    "text": "Office Products",
                                                    "url": "https://www.amazon.com/gp/bestsellers/office-products"
                                                },
                                                "type": "BESTSELLER_BADGE",
                                                "fragments": null
                                            }
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "The service was unable to process your request. Reasons for the error are described in an error response object.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "productId": {
                                            "value": "B07VDJ5RVF"
                                        },
                                        "locale": {
                                            "value": "en_US"
                                        },
                                        "facets": {
                                            "value": [
                                                "OFFERS"
                                            ]
                                        },
                                        "shippingPostalCode": {
                                            "value": "99999"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "INVALID_REQUEST_PARAMETER",
                                            "message": "Missing required request parameters: [productRegion]"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "401": {
                        "description": "The request's authorization header isn't formatted correctly or doesn't contain a valid authorization input.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified doesn't exist.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        },
                        "headers": {
                            "x-amzn-RateLimit-Limit": {
                                "description": "The rate limit (requests per second) for this operation.",
                                "type": "string"
                            },
                            "x-amzn-requestid": {
                                "description": "A unique request reference identifier.",
                                "type": "string"
                            }
                        }
                    },
[...]
